body{    
    text-decoration: none;
    margin: 0;
    background-color: yellow;
}

.wrapper{
    margin: 10px;    
}


.mainpage{
    margin: auto 35%;
    width:30%;    
}

a{    
    text-decoration: none;
}

.PoweredBy span{
    font-weight: normal;
    vertical-align: sub;
    font-size: smaller;
}

h1{
    font-size: 48px;
}

.box a{
    margin: 20px;
    border: 4px inset #ff1919;
    padding: 0 10px;
    background-color: yellow;
    color: black;
    
}
.box a:hover{
    border: 4px outset #ff1919;
    padding: 0 10px;     
    background-color: yellow;
}

.box{
    background: url("../img/Pikachu3.png") no-repeat right;
    background-size: 150px;
}

.BackToMain{
    color: black;    
}

.gene{
    width: 800px;
    background: url("../img/allgens.jpg") no-repeat 80%;
    background-size: 450px;
}

.Type{
    width: 800px;
    background: url("../img/PokeTypes.png") no-repeat center;
    background-size: 40%
}

.Pokeimg{
    width:50%;
    text-align: left;
    padding: 20px;
}

.wrappertwo{
    margin: 10px;
}

.wrappertwo a{
    font-size: 26px;
}

.wrappertwo a{
    background: -moz-linear-gradient(top, rgba(255,255,0,0.76) 0%, rgba(254,182,69,1) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,0,0.76) 0%,rgba(254,182,69,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,0,0.76) 0%,rgba(254,182,69,1) 100%);
    
}
.wrappertwo a:hover{
    background: -moz-linear-gradient(top, rgba(254,182,69,0.76) 0%, rgba(255,255,0,1) 99%, rgba(255,255,0,1) 100%);
    background: -webkit-linear-gradient(top, rgba(254,182,69,0.76) 0%,rgba(255,255,0,1) 99%,rgba(255,255,0,1) 100%);
    background: linear-gradient(to bottom, rgba(254,182,69,0.76) 0%,rgba(255,255,0,1) 99%,rgba(255,255,0,1) 100%);
}

.wrapper dt, a, .box a:hover, .BackToMain:hover, ul span, .wrappertwo a{
    color:red;
    
}
.wrapper dt, .wrappertwo a, ul span, .BackToMain, .PoweredBy{
    font-weight: bold;
}

.wrappertwo, h1, .PoweredBy{
        text-align: center;
}